.idea
.vscode
temp/
log/
upload/
/docker/data/
/docker/redis/
/config/dev.yml
/config/prod.yml
/config/test.yml
/weaver_cli
/weaver

/coverage.out
/coverage.html
/docker/minio/
/docker/kibana/config/kibana.yml
/docker/consul/data/checkpoint-signature
/docker/kafka-ui/config/dynamic_config.yaml
/docker/es/config/elasticsearch.yml
/docker/consul/data/serf/local.snapshot
/docker/consul/data/node-id
/docker/consul/data/raft/peers.info
/docker/consul/data/raft/raft.db
/docker/consul/data/serf/remote.snapshot
/docker/consul/data/server_metadata.json
/docker/es/config/log4j2.properties
/docker/es/config/jvm.options
/docker/consul/
/docker/es/
/docker/kafka/
/docker/kafka-ui/
/docker/kibana/
/docker/minio/
/docker/mysql/
/docker/redis/
