name: Deploy-Application
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  Build-And-Deploy-Application:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout-Repository
        uses: actions/checkout@v4

      - name: Setup-Golang
        uses: actions/setup-go@v4
        with:
          go-version: '1.22.10'
          check-latest: false
      - run: go version

      - name: Install-Application-Dependencies
        run: go mod download

      - name: Build-Application
        run: |
          export GIN_MODE=release
          GOOS=linux go build -o weave -v

      - name: Build-CLI
        run: |
          export GIN_MODE=release
          GOOS=linux go build -o weave_cli -tags cli -v

      - name: Copy-Build-Result-And-Script
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.REMOTE_PORT }}
          source: weave,weave_cli,run.sh,pkg/locale/,templates/,config/default.yml
          target: /var/www/weave

      - name: Deploy-Application-To-Ubuntu
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.REMOTE_PORT }}
          script: |
            cd /var/www/weave
            ls -l
            chmod +x ./run.sh
            ./run.sh

      - name: End
        run: echo 'build and deploy end...'